<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Noticias
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/felcvc.jpg" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Tarija</ion-card-subtitle>
            <ion-card-title>En Tarija, Felcv pone en marcha ‘Botón de pánico’</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Desde este fin de semana Tarija ya cuenta con el sistema de alerta para auxiliar a las mujeres víctimas de violencia que, a través de sus celulares podrán activar el ‘Botón de Pánico’ para tener respuesta inmediata de la Policía. 

                Además, se instalaron alrededor de 150 cámaras en sitios estratégicos de la capital tarijeña, tanto en el centro citadino como en zonas periurbanas, para el monitoreo de la Policía, señaló el comandante departamental. Miguel Prieto.</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <img src="/assets/politica.jpeg" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Bolivia</ion-card-subtitle>
            <ion-card-title>‘Masacre’ de candidatos jóvenes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Al menos 132 candidaturas de jóvenes quedaron fuera de las listas electorales con miras a los comicios generales del 20 de octubre, debido a diferentes razones de inhabilitación establecidas por la norma electoral, advierte la Coordinadora de la Mujer e Idea Internacional con apoyo de la Embajada de Suecia en su campaña denominada: #Protagonistas: Paridad-Poder-Juventudes.

                Frustrada, así se siente Melissa, una joven de 26 años que había sido inscrita por su partido como candidata a diputada plurinominal por el departamento de Santa Cruz. “Me he preparado para eso desde el 2015, realmente quería participar”, dice la excandidata, una licenciada en Trabajo Social.</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <img src="/assets/militar.jpg" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Tarija</ion-card-subtitle>
            <ion-card-title>Armada encuentra un cadáver cerca de la bahía de Copacabana</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Personal de la Capitanía de Puerto Mayor de la Armada Boliviana encontraron el fin de semana el cadáver de una persona de sexo masculino en proximidades a la bahía de Copacabana del departamento de La Paz.

                Los datos indican que dos personas sufrieron un naufragio el sábado por la tarde, a unos 150 metros de la orilla, mientras se dirigían a bordo de una canoa para realizar el amarre de una embarcación.</p>
        </ion-card-content>
    </ion-card>
</ion-content>