<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Galeria
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
        <iframe class="video" src="https://www.youtube.com/embed/1_1qF2JeEBQ" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
        <ion-card-header>
            <ion-card-subtitle>VisualPolitik</ion-card-subtitle>
            <ion-card-title>¿Es la ALIANZA del PACÍFICO una nueva POTENCIA?</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
        <iframe class="video" src="https://www.youtube.com/embed/avpHbigVa4Q" frameborder="0" allowfullscreen></iframe>
        <ion-card-header>
            <ion-card-subtitle>Platzi</ion-card-subtitle>
            <ion-card-title>Cómo funciona una startup</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
        <iframe class="video" src="https://www.youtube.com/embed/1U_m0dsxQJo" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
        <ion-card-header>
            <ion-card-subtitle>EmprendeAprendiendo</ion-card-subtitle>
            <ion-card-title>Los EMPRENDEDORES que Fueron RECHAZADOS</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
        <iframe class="video" src="https://www.youtube.com/embed/dXrCFN1Z4MI" frameborder="0" allowfullscreen></iframe>
        <ion-card-header>
            <ion-card-subtitle>Academia Play</ion-card-subtitle>
            <ion-card-title>La inquisición en 15 minutos</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>