<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TV en Vivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="welcome-card">
    <iframe class="video" src="https://www.youtube.com/embed/lSD7mqdr9jo" frameborder="0" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-subtitle>Noticias En Vivo</ion-card-subtitle>
      <ion-card-title>MILENIO Noticias de Mexico y el Mundo
      </ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>